.u-section-1 .u-sheet-1 {
  min-height: 960px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 76px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 658px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 32px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 291px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 11px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 87px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  margin: 9px 48px 0 0;
}

.u-section-1 .u-list-1 {
  width: 494px;
  margin: -605px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 605px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 140px;
  height: 140px;
  background-image: url("images/animegirljam.gif");
  background-position: 50% 50%;
  margin: 17px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -131px 117px 0 163px;
}

.u-section-1 .u-text-5 {
  margin: 0 14px 0 163px;
}

.u-section-1 .u-text-6 {
  margin: 15px 46px 0 163px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 140px;
  height: 140px;
  background-image: url("images/ERROR404.png");
  background-position: 50% 50%;
  margin: 17px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -131px 117px 0 163px;
}

.u-section-1 .u-text-8 {
  margin: 0 14px 0 163px;
}

.u-section-1 .u-text-9 {
  margin: 15px 46px 0 163px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 140px;
  height: 140px;
  background-image: url("images/ERROR404.png");
  background-position: 50% 50%;
  margin: 17px auto 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -131px 117px 0 163px;
}

.u-section-1 .u-text-11 {
  margin: 0 14px 0 163px;
}

.u-section-1 .u-text-12 {
  margin: 15px 46px 0 163px;
}

.u-section-1 .u-text-13 {
  font-size: 0.875rem;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 719px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 369px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 423px;
    margin-top: -645px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 645px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 12px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -140px;
    margin-right: 46px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 12px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -140px;
    margin-right: 46px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 12px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -140px;
    margin-right: 46px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-right: 31px;
    margin-left: -31px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 276px;
  }

  .u-section-1 .u-list-1 {
    width: 355px;
    margin-top: -417px;
    margin-left: -31px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 723px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 44px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -166px;
    margin-right: 26px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 64px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 18px;
    margin-right: 26px;
    margin-left: 156px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 44px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -166px;
    margin-right: 26px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 64px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 18px;
    margin-right: 26px;
    margin-left: 156px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 44px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -166px;
    margin-right: 26px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 64px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 18px;
    margin-right: 26px;
    margin-left: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1372px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 72px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 571px;
    margin-top: 7px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 665px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 25px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 25px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 7px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1674px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 409px;
    margin-top: 0;
    margin-left: -34px;
    margin-right: -34px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 121px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 526px;
    margin-bottom: -444px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 121px;
  }

  .u-section-1 .u-list-1 {
    width: 425px;
    margin-top: 101px;
    margin-right: auto;
    margin-left: -35px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 865px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 48px;
    margin-left: -24px;
    margin-right: -24px;
  }
}