 .u-section-1 {
  background-image: none;
  min-height: 998px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 1000px;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  background-image: none;
  align-self: center;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -155px auto 0;
  padding: 22px 144px 24px 143px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 506px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1111px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 1110px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    padding: 23px 109px 25px 108px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-bottom: 55px;
    font-size: 1.125rem;
  }
}