.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/animegirljam.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 624px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 125px 411px 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 25px 97px 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 55px auto 60px 20px;
  padding: 25px 78px 26px 77px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 231px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 76px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
    padding: 11px 37px 13px 36px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-2 .u-shape-1 {
  height: 421px;
  width: 472px;
  margin: 16px auto 0 35px;
}

.u-section-2 .u-image-1 {
  width: 457px;
  height: 423px;
  margin: -443px auto 0 10px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 1px 48px 0 10px;
}

.u-section-2 .u-text-2 {
  margin-left: 10px;
  margin-right: 48px;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-2 .u-shape-1 {
    height: 332px;
    width: 369px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 364px;
    height: 336px;
    margin-top: -390px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-2 .u-shape-1 {
    height: 243px;
    width: 276px;
  }

  .u-section-2 .u-image-1 {
    width: 276px;
    height: 255px;
    margin-top: -301px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-2 .u-shape-1 {
    height: 310px;
    width: 332px;
    margin-right: 70px;
  }

  .u-section-2 .u-image-1 {
    width: 341px;
    height: 310px;
    margin-top: -368px;
    margin-left: 70px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-2 .u-shape-1 {
    height: 253px;
    width: 300px;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    width: 281px;
    height: 259px;
    margin-top: -311px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}